# Deployment Configuration
COMPOSE_PROJECT_NAME=watchmanager
HOST_URL=watchmanager.novare.co.za
HOST_PORT=3005

# Application configuration
NODE_ENV=production
MONGO_URI=mongodb://admin:wC8%40Rz3%24L5%23sP9qT@13.245.26.99:27017/WatchManagerV2
