# Deployment Configuration
COMPOSE_PROJECT_NAME=watchmanager
HOST_URL=watchmanager.yourdomain.com
HOST_PORT=3001

# Application configuration
NODE_ENV=production
MONGO_URI=mongodb://localhost:27017/WatchManager
